
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a ui-sref="app">Home</a></li>
                   <li><a ui-sref="app.menu">Menu</a></li>
                   <li class="active">Dish Details</li>
               </ul>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12">
                
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                
                <!--<p>Put the dish details here</p>-->
                <div class="media">
                    <div class="media-left media-middle">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt={{dish.name}}>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading"><b>{{dish.name}}</b>
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{(dish.price/100) | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <!--<p>Put the comments here</p>-->
                <h4><b>Customer Comments</b><small style="margin-left:50px;">Sort by: <!--<input type="text" ng-model='srtText'>--><select ng-model='srtText'>
                    <option value="author">Author</option>
                    <option value="date">Date</option>
                    <option value="rating">Rating</option>
                    <option value="comment">Comment</option>
                </select>
                </small></h4>
                <blockquote ng-repeat="cmnt in dish.comments | orderBy:srtText">
                    <p>{{cmnt.rating}} Stars</p>
                    <p>{{cmnt.comment}}</p>
                    <footer>{{cmnt.author}}, {{cmnt.date | date:'MMM. d, y'}}</footer>
                </blockquote>
            </div>
            
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                
                    <blockquote ng-show="!commentForm.$invalid">
						<p>{{mycomment.rating}} Stars</p>
						<p>{{mycomment.comment}}</p>
                        <footer>{{mycomment.author}}, {{mycomment.date | date:'MMM. d, y'}}</footer>
                    </blockquote>
                
                <form class="form-horizontal" name="commentForm"
                		ng-submit="submitComment()" novalidate>
                    
                    <div class="form-group" ng-class="{'has-error' : (commentForm.yourname.$error.required || commentForm.yourname.$error.pattern) && !commentForm.yourname.$pristine}">
                        <label for="firstname" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="yourname" name="yourname" placeholder="Enter Your Name" 
                               ng-model="mycomment.author" required ng-pattern="/^[a-zA-Z ]*$/">
                            <span ng-show="commentForm.yourname.$error.required && !commentForm.yourname.$pristine" class="help-block">Your name is required.</span>
                            <span ng-show="commentForm.yourname.$error.pattern && !commentForm.yourname.$pristine" class="help-block">Name must only contain alphabets</span>
                        </div>
                    </div>
                    
					<div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label">Rating</label>
                    <div class="col-xs-12 col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="guestCount" ng-value="1" ng-model="mycomment.rating"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="guestCount" ng-value="2" ng-model="mycomment.rating"> 2
                        </label>
                         <label class="radio-inline">
                            <input type="radio" name="guestCount" ng-value="3" ng-model="mycomment.rating"> 3
                        </label>
                         <label class="radio-inline">
                            <input type="radio" name="guestCount" ng-value="4" ng-model="mycomment.rating"> 4
                        </label>
                         <label class="radio-inline">
                            <input type="radio" name="guestCount" ng-value="5" ng-model="mycomment.rating"> 5
                        </label>
                    </div>
                    </div>
                
                    <div class="form-group" ng-class="{'has-error' : commentForm.feedback.$error.required && commentForm.feedback.$dirty}">
                        <label for="feedback" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="feedback" name="feedback" rows="12"
                                      ng-model="mycomment.comment" required></textarea>
                            <span ng-show="commentForm.feedback.$error.required && !commentForm.feedback.$pristine" class="help-block">Comment must be entered</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Send Feedback</button>
                        </div>
                    </div>
                    
                </form>
                
            </div>
            
        </div>
    </div>
    